.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faqItem {
    border-bottom: 1px solid var(--divider-color);
    padding-bottom: 10px;
}

.question {
    font-weight: 500;
    font-size: 14px;
    color: var(--text-color-primary);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer {
    font-size: 13px;
    color: var(--text-color-secondary);
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    padding: 0 10px;
}

.answer.open {
    max-height: 100px; /* Adjust as needed */
    padding: 10px;
}

.arrowIcon {
    transition: transform 0.3s ease-in-out;
}

.arrowIcon.open {
    transform: rotate(90deg);
}
